<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/other-styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATM</title>
</head>
<body>
    <div id="container">
        <div id="row-one">
            <div class="responsive center-img"><a href="../index.html"><img class="image" src="../Assets/img/bn.png" alt="" srcset=""></a></div>
            <div class="responsive"> <h1 id="money-title">Check money</h1></div>
            <hr>
            <div class="responsive"><span><strong><h2 id="money">$1000</h2></strong></span></div>
        </div>
    </div>
</body>
</html>