<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATM</title>
    <script src="../Assets/boostrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../Assets/boostrap/js/popper.min.js"></script>
    <script src="../Assets/boostrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../Assets/boostrap/css/bootstrap.css">
    <!--Out Boostrap-->
    <!--Intro our files-->
    <link rel="stylesheet" href="../Assets/css/other-styles.css">
    <script src="../Assets/js/components.js"></script>
    <script src="../Assets/js/bootbox.min.js"></script>
    <script src="../Assets/js/bank.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div><a href="../index.html"><img class="image" src="../Assets/img/bn.png" alt="" srcset=""></a></div>
        <hr>
        <div class="row">
            <div class="btn-group col-12 md-12 xl-12">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Select the user:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="cmbMenu">
                </div>
            </div>
        </div>
        <br>
        <h6 class="h6">Enter the amount:</h6>
        <div class="row responsive">
            <div class="input-group cmb col-12 md-12 xl-12">
                <input type="number" id="moneyDeposit" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-outline-light btn-lg" onclick="Submited(0);">Submit</button>
    </div>
</body>

</html>