<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATM</title>
    <script src="../Assets/boostrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../Assets/boostrap/js/popper.min.js"></script>
    <script src="../Assets/boostrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../Assets/boostrap/css/bootstrap.css">
    <!--Out Boostrap-->
    <!--Intro our files-->
    <link rel="stylesheet" href="../Assets/css/other-styles.css">
    <script src="../Assets/js/components.js"></script>
    <script src="../Assets/js/bootbox.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div><a href="../index.html"><img class="image" src="../Assets/img/bn.png" alt="" srcset=""></a></div>
        <hr>
        <br>
        <h6 class="h6">How much do you want to windraw?</h6>
        <div class="row responsive">
            <div class="input-group cmb col-12 md-12 xl-12">
                <input id="numberMoney" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-outline-light btn-lg" onclick="Submited(1);">Submit</button>
    </div>
</body>

</html>